<form #modifica = "ngForm" style = "width: 100%; max-width: fit-content; position:relative; top: 75px; left: 40px;" (ngSubmit)="modificaElemento(modifica)">
    <div style = "display: flex; flex-direction: column;">
  
    <div style = "display: flex; flex-direction: row;margin-bottom: 20px;">
      <mat-form-field appearance="fill" style = "margin-right: 30px;"> 
          <mat-label>name</mat-label>
          <input matInput type = "text" name="nome" ngModel required [ngModel]="this.u.datiUtente.clubs[id].name">
      </mat-form-field>
  
      <mat-form-field appearance="fill" style = "margin-right: 30px;"> 
        <mat-label>place</mat-label>
        <input matInput type = "text" name="luogo" ngModel required [ngModel]="this.u.datiUtente.clubs[id].place">
      </mat-form-field>

      <mat-form-field style = "margin-right: 30px;">
        <mat-label>students</mat-label>
        <mat-select multiple ngModel name = "studenti" [ngModel]="this.u.datiUtente.clubs[id].students">
            <mat-option>
                <ngx-mat-select-search 
                    placeholderLabel="search ..."
                    noEntriesFoundLabel="no option founded"
                    (input)="onSearchChangeStudents($event)">
                </ngx-mat-select-search>
              </mat-option>
              @for (s of this.u.header.students; track $index) {
                @if(this.filteredOptionsStudents.includes(s.name + ' ' + s.surname + ', ' + (!s.classes || s.classes.length == 0?'no class':this.u.datiUtente.classes[s.classes[0]].fullDef))){
                  <mat-option [value]="s.id">{{s.name}} {{s.surname + ', '}}{{(!s.classes || s.classes.length == 0?'no class':this.u.datiUtente.classes[s.classes[0]].fullDef)}}</mat-option>
              }
              }
        </mat-select>
      </mat-form-field>

    </div>
    <div style = "display: flex; flex-direction: row;margin-bottom: 20px;">
        <mat-form-field class = 'non' style = "margin-right: 30px;height: 80px !important;">
            <mat-label>manager/s</mat-label>
            <mat-select ngModel multiple name = "professori" [ngModel]="this.u.datiUtente.clubs[id].professors">
                <mat-option>
                    <ngx-mat-select-search 
                        placeholderLabel="search ..."
                        noEntriesFoundLabel="no option founded"
                        (input)="onSearchChangeProfessors($event)">
                    </ngx-mat-select-search>
                  </mat-option>
                  @for(p of this.u.header.professors;track $index){
                    @if(this.filteredOptionsProfessors.includes(p.name + ' ' + p.surname)){
                      <mat-option [value]="p.id">{{p.name}} {{p.surname}}</mat-option>
                    }
                  }
            </mat-select>
        </mat-form-field>
      <div style ="display: flex;flex-direction: row;">
              <table><tbody>
              @for(d of days;track $index){
                  @if($index < 4){
                      <tr>
                          <td><strong>{{d.n}}</strong></td>
                              <td>
                                  <mat-form-field  class = 'orari'>
                                      <input matInput [disabled]="d.close || this.u.datiUtente.clubs[id].times['op'+d.n] == 'no'" class = "mat-input-element"  type = "time" name="op{{d.n}}" ngModel [required]="!d.close" [ngModel]="this.u.datiUtente.clubs[id].times['op'+d.n] == 'no'?'':this.u.datiUtente.clubs[id].times['op'+d.n]">
                                  </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class = 'orari'>
                                    <input matInput [disabled]="d.close || this.u.datiUtente.clubs[id].times['cl'+d.n] == 'no'" type = "time" name="cl{{d.n}}" ngModel [required]="!d.close" [ngModel]="this.u.datiUtente.clubs[id].times['cl'+d.n] == 'no'?'':this.u.datiUtente.clubs[id].times['cl'+d.n]">
                                  </mat-form-field>
                              </td>
                          <td >
                                  <mat-icon (click)="closing($index)" [class.grey]="d.close" class="close">event_busy</mat-icon>
                          </td>
                      </tr>
                  }
              }
          </tbody></table>
                  <table style = "position: relative; top:-15px;"><tbody>
                  @for(d of days;track $index){
                      @if($index > 3){
                          <tr>
                              <td><strong>{{d.n}}</strong></td>
                                  <td>
                                      <mat-form-field  class = 'orari'>
                                          <input matInput [disabled]="d.close || this.u.datiUtente.clubs[id].times['op'+d.n] == 'no'" class = "mat-input-element"  type = "time" name="op{{d.n}}" ngModel [required]="!d.close" [ngModel]="this.u.datiUtente.clubs[id].times['op'+d.n] == 'no'?'':this.u.datiUtente.clubs[id].times['op'+d.n]">
                                      </mat-form-field>
                                  </td>
                                  <td>
                                      <mat-form-field class = 'orari'>
                                          <input matInput [disabled]="d.close || this.u.datiUtente.clubs[id].times['cl'+d.n] == 'no'" type = "time" name="cl{{d.n}}" ngModel [required]="!d.close" [ngModel]="this.u.datiUtente.clubs[id].times['cl'+d.n] == 'no'?'':this.u.datiUtente.clubs[id].times['cl'+d.n]">
                                      </mat-form-field>
                                  </td>
                              <td >
                                      <mat-icon (click)="closing($index)" [class.grey]="d.close" class="close">event_busy</mat-icon>
                              </td>
                          </tr>
                      }
                  }
              </tbody></table>
      </div>
    </div>
    </div>
      <button mat-raised-button type="submit" class="submit" style = "background-color: rgb(0, 0, 0); color:white;" [disabled]="!modifica.valid"><mat-icon style = "margin-left:9px; font-size: 1.3em !important;">assignment</mat-icon></button>
  </form>