<div style="display: flex; flex-direction: row;">
    <div>
      <div>
        <mat-icon class="queue"  [routerLink]="this.u.aggiuntaAttiva.classes == true ? '/classes':'/classes/addition'" [class.green]="this.u.aggiuntaAttiva.classes == true">queue</mat-icon><br>
        <p [class.unshowed]="this.u.header['classes'].length != 0" style="margin-left: 40px;">No class entered</p> 
        <div style="margin-left: 20px;">
          @for(d of this.u.header['classes'] | paginate:{ itemsPerPage: 6, currentPage: this.u.pages.classes}; track $index){
              <div class = "dato">
              <button mat-fab class = "buttons d" [routerLink]="'/classes/'+d.id+'/'+d.year+'/'+d.section" >{{d.year}}-{{d.section}}</button>
              <button mat-fab [routerLink]="this.u.modificaAttiva.classes == true ? (this.u.idModifica.classes == d.id ? '/classes' : undefined) :'/classes/edit/'+d.id+'/'+d.year+'/'+d.section" class = "buttons elMod">
                <mat-icon [class.yellow]="this.u.idModifica.classes == d.id">create</mat-icon>
              </button>
              <button mat-fab class = "buttons elMod" (click)="this.u.contraryDeleting('classes',d.id)">
                <mat-icon [class.red]="d.deleting == true">delete</mat-icon>
              </button>
              @if(d.deleting == true){
                <button style = "color:rgb(145, 6, 6) !important;" mat-fab class = "buttons elMod" (click)="eliminaElemento(d.id)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              }
            </div>
          }
        </div> 
      </div>    
  
      <div class="pag" [class.unshowed]="this.u.header.classes.length <= 6">
        <mat-icon  [class.unshowed]="this.u.header.classes.length <= 6" (click)="this.u.firstPage(selectPage,'classes')" [class.grey]="this.u.pages.classes == 1" [class.pagIconAbled]="this.u.pages.classes != 1" title = "first page" class = "pagIcon">fast_rewind</mat-icon>
        <mat-icon [class.unshowed]="this.u.header.classes.length <= 6" (click)="this.u.previousPage(selectPage,'classes')" [class.grey]="this.u.pages.classes == 1" [class.pagIconAbled]="this.u.pages.classes != 1" title = "previous page" class = "pagIcon">arrow_left</mat-icon>
        <mat-select [class.unshowed]="this.u.header.classes.length <= 6" #selectPage style="width: 35px !important; margin-top:1.5px; margin-right: 8px;" [placeholder]="this.u.pages.classes">
          @for(o of this.u.pagOptions(this.u.lastPage('classes'));track $index){
            <mat-option (click)="this.u.pages.classes = o" value="{{o}}">{{o}}</mat-option>
          }
        </mat-select> <p [class.unshowed]="this.u.header.classes.length <= 6" style="margin-top: 1.5px;">{{' of ' + this.u.lastPage('classes')}}</p>
        <mat-icon [class.unshowed]="this.u.header.classes.length <= 6" (click)="this.u.nextPage(selectPage,'classes')" [class.grey]="this.u.pages.classes == this.u.lastPage('classes')" [class.pagIconAbled]="this.u.pages.classes != this.u.lastPage('classes')" title = "next page" class = "pagIcon" style = "margin-left: 20px;">arrow_right</mat-icon> 
        <mat-icon [class.unshowed]="this.u.header.classes.length <= 6" (click)="this.u.lastPageS(selectPage,'classes')" [class.grey]="this.u.pages.classes == this.u.lastPage('classes')" [class.pagIconAbled]="this.u.pages.classes != this.u.lastPage('classes')" title = "last page" disabled class = "pagIcon">fast_forward</mat-icon>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>