<div style="display: flex; flex-direction: row;">
    <div>
      <div>
        <mat-icon class="queue"  [routerLink]="this.u.aggiuntaAttiva.trips == true ? '/trips':'/trips/addition/1'" [class.green]="this.u.aggiuntaAttiva.trips == true">queue</mat-icon><br>
        <p [class.unshowed]="this.u.header['trips'].length != 0" style="margin-left: 40px;">No trip entered</p> 
        <div style="margin-left: 20px;">
          @for(d of this.u.header['trips'] | paginate:{ itemsPerPage: 6, currentPage: this.u.pages.trips}; track $index){
              <div class = "dato">
              <button mat-fab class = "buttons d" [routerLink]="'/trips/'+d.id" >{{d.title}}</button>
              <button mat-fab [routerLink]="this.u.modificaAttiva.trips == true ? (this.u.idModifica.trips == d.id ? '/trips' : undefined) :'/trips/edit/'+d.id" class = "buttons elMod">
                <mat-icon [class.yellow]="this.u.idModifica.trips == d.id">create</mat-icon>
              </button>
              <button mat-fab class = "buttons elMod" (click)="this.u.contraryDeleting('trips',d.id)">
                <mat-icon [class.red]="d.deleting == true">delete</mat-icon>
              </button>
              @if(d.deleting == true){
                <button style = "color:rgb(145, 6, 6) !important;" mat-fab class = "buttons elMod" (click)="eliminaElemento(d.id,'trips')">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              }
            </div>
          }
        </div> 
      </div>    
  
      <div class="pag" [class.unshowed]="this.u.header.trips.length <= 6">
        <mat-icon  [class.unshowed]="this.u.header.trips.length <= 6" (click)="this.u.firstPage(selectPage,'trips')" [class.grey]="this.u.pages.trips == 1" [class.pagIconAbled]="this.u.pages.trips != 1" title = "first page" class = "pagIcon">fast_rewind</mat-icon>
        <mat-icon [class.unshowed]="this.u.header.trips.length <= 6" (click)="this.u.previousPage(selectPage,'trips')" [class.grey]="this.u.pages.trips == 1" [class.pagIconAbled]="this.u.pages.trips != 1" title = "previous page" class = "pagIcon">arrow_left</mat-icon>
        <mat-select [class.unshowed]="this.u.header.trips.length <= 6" #selectPage style="width: 35px !important; margin-top:1.5px; margin-right: 8px;" [placeholder]="this.u.pages.trips">
          @for(o of this.u.pagOptions(this.u.lastPage('trips'));track $index){
            <mat-option (click)="this.u.pages.trips = o" value="{{o}}">{{o}}</mat-option>
          }
        </mat-select> <p [class.unshowed]="this.u.header.trips.length <= 6" style="margin-top: 1.5px;">{{' of ' + this.u.lastPage('trips')}}</p>
        <mat-icon [class.unshowed]="this.u.header.trips.length <= 6" (click)="this.u.nextPage(selectPage,'trips')" [class.grey]="this.u.pages.trips == this.u.lastPage('trips')" [class.pagIconAbled]="this.u.pages.trips != this.u.lastPage('trips')" title = "next page" class = "pagIcon" style = "margin-left: 20px;">arrow_right</mat-icon> 
        <mat-icon [class.unshowed]="this.u.header.trips.length <= 6" (click)="this.u.lastPageS(selectPage,'trips')" [class.grey]="this.u.pages.trips == this.u.lastPage('trips')" [class.pagIconAbled]="this.u.pages.trips != this.u.lastPage('trips')" title = "last page" disabled class = "pagIcon">fast_forward</mat-icon>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>